:root {
  --background: #211833;
  --purple: #C91FEC;
  --gold: #ECD21F;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  position: relative;
}

.fixedNav {
  position: fixed;
  width: 100%;
  height: 80px;
  /* border: 1px solid red; */
  background-color: var(--background);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.navLeft {
  height: 100%;
  width: 100%;
  font-family: 'Crete Round', serif;
  color: var(--purple);
  font-size: 1.5rem;
  padding: 0 2rem;
  display: grid;
  align-items: center;
}

.navRight {
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  display: grid;
  align-items: center;
  justify-content: end;
}

.menuWrapper {
  display: inline-block;
  padding: 7px 0;
  cursor: pointer;
  z-index: 999;
}

.menuLine {
  width: 1.5rem;
  height: .15rem;
  background-color: var(--purple);
  transition: transform 300ms ease;
}

.menuLine::before, .menuLine::after {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: .15rem;
  background-color: var(--purple);
  transition: margin 300ms ease 300ms, transform 300ms ease;
}

.menuLine::before {
  margin-top: -.4rem;
}

.menuLine::after {
  margin-top: .4rem;
}

.menuLine.toggled {
  transform: rotate(45deg);
  transition: transform 300ms ease 300ms;
}

.menuLine.toggled::before, .menuLine.toggled::after {
  margin-top: 0;
  transform: rotate(90deg);
  transition: margin 300ms ease, transform 300ms ease 300ms;
}

.navOpened {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 0;
  background-color: #fff;
  visibility: hidden;
}











.introWrapper {
  width: 100%;
  height: 100vh;
  background-color: var(--background);
}